[Desktop Entry]
Exec=notepad
Name=Notepad
Name[pl_PL]=Notatnik
GenericName=Text editor with tabs
GenericName[pl_PL]=Edytor tekstu z kartami
Icon=notepad
Terminal=false
Type=Application
Categories=Qt;Utility;TextEditor;
